

@{
    ViewBag.Title = "Joker";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Joker</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Arial, Helvetica, sans-serif;
        }

        header {
            padding: 30px;
            text-align: center;
            font-size: 35px;
            color: black;
        }

        nav {
            float: left;
            width: 50%;
            padding: 20px;
        }

            nav ul {
                list-style-type: none;
                padding: 0;
            }

        article {
            float: right;
            padding: 20px;
            width: 50%;
        }
    </style>
</head>
<body>
    <header>
        <h1>Joker (2019)</h1>
        <h6>2h 2min | Crime, Drama, Thriller </h6>
    </header>
    <div width="120" height="100" style="vertical-align:middle; text-align:center">
        <img src="~/Content/Images/joker.jpg" />
    </div>
    <section>
        <nav>
            <p> Director: Todd Phillips</p>
            <p> Writers: Todd Phillips, Scott Silver </p>
            <p> Stars: Joaquin Phoenix, Robert De Niro, Zazie Beetz</p>
        </nav>
        <article>
            <h2>Storyline</h2>
            <p>
                Arthur Fleck works as a clown and is an aspiring stand-up comic. He has mental health issues, part of which involves uncontrollable laughter.
                Times are tough and, due to his issues and occupation, Arthur has an even worse time than most. Over time these issues bear down on him,
                shaping his actions, making him ultimately take on the persona he is more known as...Joker.
            </p>
        </article>
    </section>
</body>
</html>

