
@{
    ViewBag.Title = "LordOfTheRings";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>LordOfTheRings</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Arial, Helvetica, sans-serif;
        }

        header {
            padding: 30px;
            text-align: center;
            font-size: 35px;
            color: black;
        }

        nav {
            float: left;
            width: 50%;
            padding: 20px;
        }

            nav ul {
                list-style-type: none;
                padding: 0;
            }

        article {
            float: right;
            padding: 20px;
            width: 50%;
        }
    </style>
</head>
<body>
    <header>
        <h1>The Lord of the Rings(2001)</h1>
        <h6>2h 58min | Action, Aventure, Drama </h6>
    </header>
    <br />
    <br />
    <image>
        <img src="~/Content/Images/sagan_om_ringen.jpg" style="width:250px; height:300px;" />
    </image>
    <section>
        <nav>
            <p> Director: Peter Jackson</p>
            <p> Writers: J.R.R. Tolkien (novel), Fran Walsh (screenplay)</p>
            <p> Stars: Elijah Wood, Ian McKellen, Orlando Bloom</p>
        </nav>
        <article>
            <h2>Storyline</h2>
            <p>
                An ancient Ring thought lost for centuries has been found, and through a strange twist of fate has been given to a small Hobbit named Frodo.
                When Gandalf discovers the Ring is in fact the One Ring of the Dark Lord Sauron, Frodo must make an epic quest to the Cracks of Doom
                in order to destroy it. However, he does not go alone. He is joined by Gandalf, Legolas the elf, Gimli the Dwarf, Aragorn, Boromir,
                and his three Hobbit friends Merry, Pippin, and Samwise. Through mountains, snow, darkness, forests, rivers and plains, facing evil and danger
                at every corner the Fellowship of the Ring must go. Their quest to destroy the One Ring is the only hope for the end of the Dark Lords reign.
            </p>
        </article>
    </section>
</body>
</html>

