
@{
    ViewBag.Title = "LordOfTheRings";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>LordOfTheRings</title>
    <link href="~/Content/MoviePage.css" rel="stylesheet"/>
</head>

<body>
    <div class="header">
        <h1>The Lord of the Rings(2001)</h1>
        <h6>2h 58min | Action, Aventure, Drama </h6>
    </div>

    <div class="row">
        <div class="column side">
            <img src="~/Content/Images/sagan_om_ringen.jpg" alt="Sagan om ringen" style="width: 50%" />
            <div class="about">
                <h3>About</h3>
                <p class="directors"> Peter Jackson</p>
                <p class="writers"> J.R.R. Tolkien (novel), Fran Walsh (screenplay)</p>
                <p class="stars"> Elijah Wood, Ian McKellen, Orlando Bloom</p>
            </div>
        </div>

        <div class="column middle">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KIYMjuEWT_8" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
            <h3 class=" storyline">Storyline</h3>
            <p>
                An ancient Ring thought lost for centuries has been found, and through a strange twist of fate has been given to a small Hobbit named Frodo.
                When Gandalf discovers the Ring is in fact the One Ring of the Dark Lord Sauron, Frodo must make an epic quest to the Cracks of Doom
                in order to destroy it. However, he does not go alone. He is joined by Gandalf, Legolas the elf, Gimli the Dwarf, Aragorn, Boromir,
                and his three Hobbit friends Merry, Pippin, and Samwise. Through mountains, snow, darkness, forests, rivers and plains, facing evil and danger
                at every corner the Fellowship of the Ring must go. Their quest to destroy the One Ring is the only hope for the end of the Dark Lords reign.
            </p>
        </div>
    </div>
</body>
</html>

