
@{
    ViewBag.Title = "Soul";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Soul</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Arial, Helvetica, sans-serif;
        }

        header {
            padding: 30px;
            text-align: center;
            font-size: 35px;
            color: black;
        }

        nav {
            float: left;
            width: 50%;
            padding: 20px;
        }

            nav ul {
                list-style-type: none;
                padding: 0;
            }

        article {
            float: right;
            padding: 20px;
            width: 50%;
        }
    </style>
</head>
<body>
    <header>
        <h1>Soul (2020)</h1>
        <h6>1h 40min | Animation, Adventure, Comedy </h6>
    </header>
    <br />
    <br />
    <image>
        <img src="~/Content/Images/Soul.jpeg" style="width:250px; height:300px;" />
    </image>
    <section>
        <nav>
            <p> Director: Pete Docter, Kemp Powers (co-director)</p>
            <p> Writers: Pete Docter (story & screenplay by), Mike Jones (story & screenplay by) </p>
            <p> Stars: Jamie Foxx, Tina Fey, Graham Norton</p>
        </nav>
        <article>
            <h2>Storyline</h2>
            <p>
                Joe is a middle-school band teacher whose life hasn't quite gone the way he expected. His true passion is jazz -- and he's good.
                But when he travels to another realm to help someone find their passion, he soon discovers what it means to have soul.
            </p>
        </article>
    </section>
</body>
