
@{
    ViewBag.Title = "Tenet";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tenet</title>
    <link href="~/Content/MoviePage.css" rel="stylesheet" />
</head>

<body>
    <div class="header">
        <h1>Tenet (2020)</h1>
        <h6>2h 30min | Action, Sci-Fi, Thriller </h6>
    </div>

    <div class="row">
        <div class="column side">
            <img src="~/Content/Images/Tenet.jpg" alt="Tenet" style="width:50%" />
            <div class=" about">
                <h3>About</h3>
                <p class="directors">Christopher Nolan</p>
                <p class="writers"> Christopher Nolan</p>
                <p class="stars"> John David Washington, Robert Pattinson, Elizabeth Debicki </p>
            </div>
        </div>

        <div class="column middle">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/L3pk_TBkihU"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
            <h3 class="storyline">Storyline</h3>
            <p>
                In a twilight world of international espionage, an unnamed CIA operative, known as The Protagonist, is recruited by a mysterious organization
                called Tenet to participate in a global assignment that unfolds beyond real time. The mission: prevent Andrei Sator, a renegade Russian oligarch
                with precognition abilities, from starting World War III. The Protagonist will soon master the art of "time inversion" as a way of countering
                the threat that is to come.
            </p>
        </div>
    </div>
    
        
  
</body>
</html>

