@{ ViewBag.Title = "Tenet"; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tenet</title>
    <link href="~/Content/MoviePage.css" rel="stylesheet" />
</head>

<body>
    <div class="movie-wrapper">
        <div class="flex-container">
            <div class="header">
                <h1>Tenet (2020)</h1>
                <h6>2h 30min | Action, Sci-Fi, Thriller </h6>
            </div>
            <div class="trailer-flex">
                <div class="side-bar">
                    <img src="~/Content/Images/Tenet.jpg" alt="Tenet" />
                    <div class="about">
                        <ul>
                            About
                            <li class="directors">Christopher Nolan</li>
                            <li class="writers">Christopher Nolan</li>
                            <li class="stars">John David Washington, Robert Pattinson, Elizabeth Debicki</li>
                        </ul>
                    </div>
                </div>
                <div class="iframe-div">
                    <iframe src="https://www.youtube.com/embed/L3pk_TBkihU"
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                    <h3 class="storyline">Storyline</h3>
                    <p class="text-story">
                        In a twilight world of international espionage, an unnamed CIA operative, known as The Protagonist, is recruited by a mysterious organization
                        called Tenet to participate in a global assignment that unfolds beyond real time. The mission: prevent Andrei Sator, a renegade Russian oligarch
                        with precognition abilities, from starting World War III. The Protagonist will soon master the art of "time inversion" as a way of countering
                        the threat that is to come.
                    </p>
                </div>
            </div>
            <div class="rating-flex">
                <div id="form_example">
                    <div class="form-group">
                        <div id="validation-summary">
                        </div>
                        <form id="exampleform" class="k-form k-form-vertical">
                            <ul class="k-form-group">
                                <li class="k-form-field">
                                    <label for="rating" class="k-form-label">Rating</label>
                                    <span class="k-form-field-wrap">
                                        <input id="rating" name="rating" required validationMessage="Select a rating" />
                                        <span class="k-invalid-msg" data-for="rating"></span>
                                    </span>
                                </li>
                                <li class="k-form-field">
                                    <label for="fullname" class="k-form-label">Your Name</label>
                                    <span class="k-form-field-wrap">
                                        <input type="text" id="fullname" name="fullname" class="k-textbox" placeholder="Enter your name" required validationMessage="Enter your name" />
                                    </span>
                                </li>
                                <li class="k-form-buttons">
                                    <button class="k-button k-primary" type="submit">Submit</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div id="map"></div>
            </div>
            <div class="footer">
                <p>Movie Rating</p>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var validator = $("#exampleform").kendoValidator().data("kendoValidator");
            var validationSummary = $("#validation-summary");
            $("#rating").kendoRating({
                precision: "half"
            });
            $("form").submit(function (event) {
                event.preventDefault();
                if (validator.validate()) {
                    validationSummary.html("<div class='k-messagebox k-messagebox-success'>Thank you for your rating!</div>");
                    var ratingData = JSON.stringify({
                        userRating: $("#rating").val(),
                        userFullName: $("#fullname").val()
                    });
                    localStorage.setItem("UserData", ratingData);
                } else {
                    validationSummary.html("<div class='k-messagebox k-messagebox-error'>Oops! There is invalid data in the form.</div>");
                }
            });
        });
    </script>
    <script>
        function createMap() {
            $("#map").kendoMap({
                center: [34.098065, -118.325783],
                zoom: 7,
                layers: [{
                    type: "tile",
                    urlTemplate: "http://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png",
                    subdomains: ["a", "b", "c"],
                    attribution: "&copy; <a href='http://osm.org/copyright'>OpenStreetMap contributors</a>"
                }],
                markers: [{
                    location: [34.098065, -118.325783],
                    tooltip: {
                        content: "Hollywood"
                    }
                }]
            });
            $("#map").unbind("mousewheel");
        }
        $(document).ready(createMap);
    </script>
</body>
</html>