

@{ ViewBag.Title = "TheShawshankRedemption"; }

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>TheShawshankRedemption</title>
    <link href="~/Content/MediaQueries.css" rel="stylesheet" />
    <link href="~/Content/MoviePage.css" rel="stylesheet" />
</head>

<body>
    <div class="movie-wrapper">
        <div class="flex-container">
            <header class="header">
                <h1>The Shawshank Redemption (1994)</h1>
                <h6>2h 22min | Drama</h6>
            </header>
            <div class="trailer-flex">
                <div class="side-bar">
                    <img src="~/Content/Images/TheShawshankRedemption.jpg" alt="TheShawshankRedemption" />
                    <div class="about">
                        <h4>About</h4>
                        <ul>
                            <li class="directors">Frank Darabont</li>
                            <li class="writers">Stephen King, Frank Darabont</li>
                            <li class="stars">Tim Robbins, Morgan Freeman, Bob Gunton</li>
                        </ul>
                    </div>
                </div>
                <div class="iframe-div">
                    <iframe src="https://www.youtube.com/embed/6hB3S9bIaco"
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                    <h3 class="storyline">Storyline</h3>
                    <p class="text-story">
                        Chronicles the experiences of a formerly successful banker as a prisoner in the gloomy jailhouse of Shawshank after being found guilty of a crime he did not commit.
                        The film portrays the man's unique way of dealing with his new, torturous life; along the way he befriends a number of fellow prisoners, most notably a wise long-term inmate named Red.
                    </p>
                </div>
            </div>
            <div class="rating-flex">
                <div id="form_example">
                    <div class="form-group">
                        <div id="validation-summary">
                        </div>
                        <form id="exampleform" class="k-form k-form-vertical">
                            <ul class="k-form-group">
                                <li class="k-form-field">
                                    <label for="rating" class="k-form-label">Rating</label>
                                    <span class="k-form-field-wrap">
                                        <input id="rating" name="rating" required validationMessage="Select a rating" />
                                        <span class="k-invalid-msg" data-for="rating"></span>
                                    </span>
                                </li>
                                <li class="k-form-field">
                                    <label for="fullname" class="k-form-label">Your Name</label>
                                    <span class="k-form-field-wrap">
                                        <input type="text" id="fullname" name="fullname" class="k-textbox" placeholder="Enter your name" required validationMessage="Enter your name" />
                                    </span>
                                </li>
                                <li class="k-form-buttons">
                                    <button class="k-button k-primary" type="submit">Submit</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div id="map"></div>
            </div>
            <div class="footer">
                <h4>Movie Rating</h4>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var validator = $("#exampleform").kendoValidator().data("kendoValidator");
            var validationSummary = $("#validation-summary");

            $("#rating").kendoRating({
                precision: "half"
            });

            $("form").submit(function (event) {
                event.preventDefault();
                if (validator.validate()) {
                    validationSummary.html("<div class='k-messagebox k-messagebox-success'>Thank you for your rating!</div>");

                    var ratingData = JSON.stringify({
                        userRating: $("#rating").val(),
                        userFullName: $("#fullname").val()
                    });
                    localStorage.setItem("UserData", ratingData);

                } else {
                    validationSummary.html("<div class='k-messagebox k-messagebox-error'>Oops! There is invalid data in the form.</div>");
                }
            });
        });

    </script>

    <script>
        function createMap() {
            $("#map").kendoMap({
                center: [34.098065, -118.325783],
                zoom: 7,
                layers: [{
                    type: "tile",
                    urlTemplate: "http://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png",
                    subdomains: ["a", "b", "c"],
                    attribution: "&copy; <a href='http://osm.org/copyright'>OpenStreetMap contributors</a>"
                }],
                markers: [{
                    location: [34.098065, -118.325783],
                    tooltip: {
                        content: "Hollywood"
                    }
                }]
            });

            $("#map").unbind("mousewheel");
        }

        $(document).ready(createMap);
    </script>
</body>
</html>

