@{ ViewBag.Title = "HistoryIndex"; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HistoryIndex</title>
    <link href="~/Content/IndexPage.css" rel="stylesheet" />
</head>

<body>
    <div class="index-wrapper">
        <div class="flex-container">
            <div class="header">
                <h1>Top 5 Movies 2019</h1>
            </div>
            <div class="welcome-flex">
                <div class="welcome-text">
                    <h3>Movies of our choice</h3>
                    <p>This is last years movies.</p>
                </div>
            </div>
            <div class="list-flex">
                <div id="example">
                    <div id="grid"></div>
                </div>
            </div>
            <div class="footer">
                <p>Movie Rating.</p>
            </div>
        </div>
    </div>

    <script>
            $(document).ready(function () {

                var mydataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: '@Url.Action("GetMovieList2019", "Home")',
                            dataType: "json"
                        }
                    },
                    schema: {
                        model: {
                            id: "ID",
                            fields: {
                                ID: { type: "number" },
                                Place: { type: "number" },
                                Movie: { type: "string" },
                                rating: { type: "number" },
                                TotalVotes: { type: "string"},
                            }
                        }
                    }
                });


                $("#grid").kendoGrid({
                    dataSource: mydataSource,
                    columns: [{
                        field: "Place",
                        title: " ",
                        width: "30px",
                    },

                    {
                        field: "Movie",
                        title: "Movie Title",
                        template: '<a href="#=URL#">#=Movie#</a>'
                    },
                    {
                        field: "Rating",
                        template: function (item) {
                            return '<input id="' + item.id + '" class="ratingInGrid"/>'
                        },

                        },
                        {
                            field: "TotalVotes",
                            title: "Votes",
                            width: "80px"
                        }
                    ],
                    dataBound: function (e) {
                        var items = e.sender.items();
                        items.each((item, element) => createRating(item, element))
                    }
                });
            });

            function createRating(item, element) {
                var grid = $("#grid").getKendoGrid();
                var dataItem = grid.dataItem(element);
                var rating = $(element).find('.ratingInGrid');
                rating.kendoRating({
                    min: 1,
                    max: 5,
                    selection: "continuous",
                    precision: "half",
                    value: dataItem.rating
                });
                var ratingInstance = rating.data("kendoRating");
                ratingInstance.readonly(true);
            }
    </script>
</body>
</html>