<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Top 5 Movies Right Now</h1>
    <div id="example">
        <div id="grid"></div>

        <script>
            $(document).ready(function () {
                let data = [{ id: 1, Place: 1, Movie: "Joker (2019)", "URL": "https://localhost:44360/Movie/Joker", rating: 5, TotalVotes: 37 },
                    { id: 2, Place: 2, Movie: "Lord of the Rings (2001)", "URL": "https://localhost:44360/Movie/LordOfTheRings", rating: 4, TotalVotes: 55 },
                    { id: 3, Place: 3, Movie: "1917 (2019)", "URL": "https://localhost:44360/Movie/NineteenSeventeen", rating: 3.5, TotalVotes: 23 },
                    { id: 4, Place: 4, Movie: "Soul (2020)", "URL": "https://localhost:44360/Movie/Soul", rating: 3, TotalVotes: 17 },
                    { id: 5, Place: 5, Movie: "Tenet (2020)", "URL": "https://localhost:44360/Movie/Tenet", rating: 1.5, TotalVotes: 83 }

                ];
                $("#grid").kendoGrid({
                    dataSource: data,
                    columns: [{
                        field: "Place",
                        title: " ",
                        width: "30px",
                    },

                    {
                        field: "Movie",
                        title: "Movie Title",
                        template: '<a href="#=URL#">#=Movie#</a>'
                    },
                    {
                        field: "Rating",
                        template: function (item) {
                            return '<input id="' + item.id + '" class="ratingInGrid"/>'
                        },

                        },
                        {
                            field: "TotalVotes",
                            title: "Votes",
                            width: "80px"
                        }
                    ],
                    dataBound: function (e) {
                        var items = e.sender.items();
                        items.each((item, element) => createRating(item, element))
                    }
                });
            });

            function createRating(item, element) {
                var grid = $("#grid").getKendoGrid();
                var dataItem = grid.dataItem(element);
                var rating = $(element).find('.ratingInGrid');
                rating.kendoRating({
                    min: 1,
                    max: 5,
                    selection: "continuous",
                    precision: "half",
                    editable: false,
                    value: dataItem.rating
                });
                var ratingInstance = rating.data("kendoRating");
                ratingInstance.readonly(true);
            }
        </script>

    </div>

    <style>
        #grid .k-master-row {
            height: 100px;
        }
    </style>

</body>
</html>