/* CSS HEX COLOR SCHEME 
--middle-grey: #8a8979ff;
--artichoke: #8d9083ff;
--nickel: #70766bff;
--black-olive: #444b44ff;
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
}

.movie-wrapper {
    width: 60%;
    margin: 0 auto;
    box-shadow: 0px 0px 20px black;
    border: 0.1px solid black;
    margin-top: 0.5rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.trailer-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0px;
    margin-top: 3rem;
}

.list-flex {
    display: flex;
    width: 100%;
    margin-top: 3rem;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444b44ff;
    color: white;
}

    .header > h1 {
        margin-bottom: 0px;
    }

    .header > h6 {
        margin-top: 0.5px;
    }

.side-bar {
    padding-left: 2em;
    width: 30%;
}

    .side-bar > img {
        width: 150px;
    }

.about {
    margin-top: 10px;
}

    .about > h4 {
        font-size: 20px;
        font-weight: 700;
    }

    .about > ul {
        text-decoration: none;
    }

    .about li {
        list-style: none;
    }

.directors::before {
    content: "Director: ";
    font-weight: bold;
}

.writers::before {
    content: "Writers: ";
    font-weight: bold;
}

.stars::before {
    content: "Stars: ";
    font-weight: bold;
}

.iframe-div {
    width: 70%;
}

    .iframe-div iframe {
        width: 80%;
        height: 350px;
    }

.text-story {
    width: 80%;
}

.rating-flex {
    margin-top: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#form_example {
    padding-left: 2em;
    width: 25%;
}

#map > div {
    width: 70%;
}

#map {
    height: 280px;
    width: 70%;
}

.k-widget {
    border: 0;
    box-shadow: none;
}

.footer {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444b44ff;
    color: white;
}

/* For tablets */
@media (min-width: 768px) and (max-width: 1024px) {

    .movie-wrapper {
        width: 80%;
        margin-top: 0;
    }

    .header, .footer {
        background-color: #70766bff;
    }

    .trailer-flex, .rating-flex {
        flex-direction: row;
        justify-content: center;
    }

        .trailer-flex div {
            align-items: center;
            width: 50%;
            display: flex;
            flex-direction: column;
        }

        .rating-flex div {
            align-items: flex-start;
            width: 50%;
            display: flex;
            flex-direction: column;
        }

    #form_example {
        padding: 0;
        align-items: center;
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    #map div {
        align-items: center;
        width: 75%;
        display: flex;
        flex-direction: column;
    }

    #map {
        align-items: center;
        width: 50%;
    }

    .side-bar {
        padding: 0;
    }
}

/* For mobile phones */
@media (min-width: 320px) and (max-width: 768px) {

    .body-content {
        padding: 0;
    }

    .movie-wrapper {
        width: 100%;
        box-shadow: none;
        border: 0;
        margin-top: 0;
    }

    .header, .footer {
        background-color: #8d9083ff;
    }

    .trailer-flex, .rating-flex {
        flex-direction: column;
        justify-content: center;
        padding: 0 5px;
    }

        .trailer-flex div {
            align-items: center;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .rating-flex div {
            align-items: flex-start;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

    #form_example {
        align-items: flex-start;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #map {
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
